@import "./color";

$navbar-height: 60px;
$sidebar-width:260px;
$sidebar-pinned-wdth:70px;

$layout-color: $blue-a50;
$layout-color-secondary: $blue-500;
$layout-color-ternary: $blue-100;
$background-primary-color: $grey-a200;
$text-primary-color: $grey-500;


$bg-color: #f2f3f8;
$navbar-bg-color: #242939;
$navbar-color: #6e7899;
$sidebar-bg-color: #fff;
$sidebar-color: #3d4465;
$sidebar-icon-color: #c4cff9;
$border-color: #f2f3f8;




