<aside class="sidebar shadow-sm">

  <nav class="sidebar-menu pt-3 pb-0">

    <ul class="menu-items">
      <li >
        <a href="#" routerLink="/home" routerLinkActive="active">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
    </ul>
     
  </nav>


  <nav class="sidebar-menu pt-1 pb-1">
    <div class="menu-header mt-3 mb-2">
      Calory Pal
    </div>
    <ul class="menu-items">
      <li>
        <a href="#" [routerLink]="navigationUrls.HOME" routerLinkActive="active">
          <i class="fas fa-sun"></i>
          <span>Home</span>
        </a>
      </li>
    </ul>
     
  </nav>
</aside>