<div class="home-page-wrapper">
    <div class="d-flex">
        <h4 class="mt-4 text-muted  flex-fill"> Home </h4>
        <div class="mt-4 date-range-wrapper">
            <form class="form-inline">
                <div class="form-group hidden">
                    <div class="input-group">
                        <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                            [autoClose]="'true'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                            [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1"
                            [maxDate]="maxDate">
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                            [value]="formatter.format(fromDate)"
                            (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                        <div class="input-group-append">
                            <div class="btn btn-outline-secondary calendar pt-1 pb-1" (click)="datepicker.toggle()"
                                type="button">
                                <mat-icon [inline]=true>event</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group ml-2">
                    <div class="input-group">
                        <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                            [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                        <div class="input-group-append">
                            <div class="btn btn-outline-secondary calendar pt-1 pb-1" (click)="datepicker.toggle()"
                                type="button">
                                <mat-icon [inline]=true>event</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="new-order-btn" class="new-order-btn d-flex mt-4 cursor-pointer" (click)="openAddEntryModal()">
            <h4 class="text-success ml-3">Add Entry</h4>
            <mat-icon [inline]=true class="ml-2 mt-1 text-success">add</mat-icon>
        </div>
    </div>


    <ngb-accordion #foodEntryAccordion="ngbAccordion" [animation]="true" class="order-product-list-accordion mt-4"
        activeIds="index0">
        <ng-container *ngFor="let key of object.keys(dateWiseMap || {}); let i = index">
            <ngb-panel id={{index+i}}>
                <ng-template ngbPanelTitle>
                    <div class="d-flex">
                        <h4 class="mt-3 ml-3">{{key}}</h4>
                        <div class="d-flex mt-3 flex-fill justify-content-end mr-2"
                            *ngIf="totalCalorieDayWiseMap[key] > userCalorieLimit">
                            <span class="badge badge-danger rounded-0 text-light">Limit Exceeded</span>
                        </div>
                        <div class="d-flex mt-3 mr-4  ml-auto">
                            <p>Total Calories: </p>
                            <p class="ml-3"> {{totalCalorieDayWiseMap[key].toFixed(2)}} </p>
                        </div>
                        <mat-icon style="margin-top: 1.3rem;" class="ml-2 ">unfold_more</mat-icon>

                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <table>
                        <thead>
                            <tr>
                                <th>Entry ID</th>
                                <th class="pl-4">Had At</th>
                                <th class="pl-4">Food Name </th>
                                <th class="pl-4">Calories</th>
                                <th class="pl-4">Entered Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entry of dateWiseMap[key]">
                                <!-- <ng-container *ngIf="!!product.orderQty"> -->
                                <td>{{entry.entryId.toUpperCase()}}</td>
                                <td class="pl-4">{{entry.eatingTime.split(".")[0]}}</td>
                                <td class="pl-4">{{entry.foodName}}</td>
                                <td class="pl-4">{{entry.calories}}</td>
                                <td class="pl-4">{{entry.creationTimestamp.split(".")[0].replace("T", " ")}}</td>
                                <!-- </ng-container> -->
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-panel>
        </ng-container>
    </ngb-accordion>

</div>

<cc-add-entry-modal (onAddButtonClick)="addNewFoodEntry($event)"></cc-add-entry-modal>