<cc-modal id="add-entry-modal" [closeOnBgClick]="false">
    <div class="card-title mb-1 pt-2 pl-3 d-flex">
        <h5>Add Food Entry</h5>
    </div>
    <div class="card-body pb-2 overflow-auto">

        <div class="mb-4 h7 text-muted" *ngIf="!!isComingFromAdmin">
            ** Adding entries in other users account will change that user's calorie history. Please proceed with
            caution.
        </div>

        <div class="mt-3">

            <form name="addEntryForm" [formGroup]="addEntryForm" class="d-flex">
                <div class="row flex-column col-sm-6">

                    <div class="text-muted">Select Date Time:</div>

                    <div class="form-group eating-date-form-group mb-2">
                        <ngb-datepicker #dp (navigate)="addEntryForm.get('eatingDate').value = $event.next"
                            formControlName="eatingDate" [maxDate]="maxDate"></ngb-datepicker>

                        <small id="eatingDateHelp" class="form-text validation-error-message"
                            *ngIf="addEntryForm.get('eatingDate').dirty && addEntryForm.get('eatingDate').hasError('required')">
                            Eating Time is <strong>required</strong>
                        </small>
                    </div>

                    <div class="form-group eating-time-form-group mb-0 justify-content-center d-flex flex-column">
                        <ngb-timepicker formControlName="eatingTime"></ngb-timepicker>
                        <!-- <input type="text" class="form-control rounded-0 cursor-pointer" id="eatingTime"
                                aria-describedby="eatingTimeHelp" placeholder="Enter eating time"
                                > -->

                        <small id="eatingTimeHelp" class="form-text validation-error-message"
                            *ngIf="addEntryForm.get('eatingTime').dirty && addEntryForm.get('eatingTime').hasError('required')">
                            Eating Time is <strong>required</strong>
                        </small>
                    </div>

                </div>

                <div class="row flex-column flex-wrap col-sm-6 ml-2 ">

                    <div class="form-group username-form-group mb-2" *ngIf="isComingFromAdmin">
                        <div class="text-muted">Select User:</div>
                        <div class="input-wrapper">
                            <!-- <input type="text" class="form-control rounded-0 cursor-pointer" id="username"
                                aria-describedby="usernameHelp" placeholder="Select User" formControlName="username"> -->

                            <select required name="productTypes" id="username" aria-describedby="usernameHelp"
                                placeholder="Select User" formControlName="username"
                                class="form-control rounded-0 cursor-pointer">
                                <!-- (selectionChange)="getUserData()"> -->
                                <option *ngFor="let user of usersList" [value]="user.userId">
                                    {{user.name}} ({{user.userId}})
                                </option>
                            </select>

                            <button mat-icon-button matSuffix class="form-field-icon-button">
                                <mat-icon>person</mat-icon>
                            </button>
                        </div>
                        <small id="usernameHelp" class="form-text validation-error-message"
                            *ngIf="addEntryForm.get('username').dirty && addEntryForm.get('username').hasError('required')">
                            User is <strong>required</strong>
                        </small>
                    </div>

                    <div class="form-group foodName-form-group mb-2 mt-4">
                        <div class="input-wrapper">
                            <input type="text" class="form-control rounded-0 cursor-pointer" id="foodName"
                                aria-describedby="foodNameHelp" placeholder="Enter Food Name" formControlName="foodName"
                                [resultFormatter]="resultFormatter" [inputFormatter]="inputFormatter"
                                [ngbTypeahead]="searchFood" (selectItem)="setCaloriesFromTypeahead($event)">
                            <button mat-icon-button matSuffix class="form-field-icon-button">
                                <mat-icon>event</mat-icon>
                            </button>
                        </div>
                        <small id="foodNameHelp" class="form-text validation-error-message"
                            *ngIf="addEntryForm.get('foodName').dirty && addEntryForm.get('foodName').hasError('required')">
                            Food Name is <strong>required</strong>
                        </small>
                    </div>

                    <div class="form-group calories-form-group mb-2">
                        <div class="input-wrapper">
                            <input type="number" class="form-control rounded-0 cursor-pointer" id="calories"
                                aria-describedby="caloriesHelp" placeholder="Enter Calories" formControlName="calories">

                            <button mat-icon-button matSuffix class="form-field-icon-button">
                                <mat-icon>flag</mat-icon>
                            </button>
                        </div>
                        <small id="eatingTimeHelp" class="form-text validation-error-message"
                            *ngIf="addEntryForm.get('calories').dirty && addEntryForm.get('calories').hasError('required')">
                            Calories is <strong>required</strong>
                        </small>
                    </div>

                </div>

            </form>

            <div class="d-flex">
                <button class="btn btn-primary mb-2 rounded-1 ml-auto" [disabled]="disableSaveButton"
                    (click)="onSaveButtonClick()">Save</button>
                <button class="btn btn-outline-lightning mb-2 ml-2 rounded-1"
                    (click)="onCancelBtnClick()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="spinner_overlay" *ngIf="!!loading">
        <div class="clock-loader"></div>
    </div>
</cc-modal>