.mat-toolbar-row {
    padding: 0rem !important;
    height: 3.2rem;

    .container-fluid {
        height: 3.2rem;

        ul {
            height: 3.2rem;

            li {
                height: 3.2em;
            }
        }
    }
}

.mat-toolbar {
    font-size: 0.95rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    height: 3.2rem;
}

.mat-toolbar-multiple-rows {
    min-height: 0rem !important;
}

.cdk-overlay-connected-position-bounding-box {
    // top: 3.2rem !important;
    // left: 75rem !important;

    .nav-link {
        padding: 0rem;
    }

    .mat-menu-content {
        padding: 0rem !important;
    }

    .mat-menu-panel {
        min-height: 0rem;
        margin-left: 1.7rem;
    }  

    i {
        margin-top: 0.65rem;
    }
}

.mat-menu-panel {
    min-height: 0rem;
}