.mat-expansion-panel {
    background-color: $white;
}

.mat-expansion-panel-header-title {
    color: #000 !important;
    width: 13.1rem;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color:$text-primary-color !important;
}

.mat-expansion-panel.mat-expanded {
    margin-top: 0.5rem;;
}

mat-expansion-panel.mat-expansion-panel.mat-expanded.mat-expansion-panel-spacing {
    margin-top: 0.5rem;
}

mat-expansion-panel-header {
    background-color: $layout-color !important;
}

.mat-expansion-panel-body {
    padding: 0 7px 2px !important;
    background-color: $background-primary-color;
}
